$font-family-icon: runcloudnicon !default;

// global
$default-border-color: "border-gray-500";
$default-overlay: "bg-blue-900 bg-opacity-70 block z-1050";

// checkbox
$checkbox-height: "h-6.5";
$checkbox-width: "w-6.5";
$checkbox-border-radius: "rounded";
$checkbox-border: "border border-solid";
